.message_item {
    width: 400px;
    gap: 15px;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #003746;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.myself {
    align-self: flex-end;
    background-color: #005066;
}

.message_top {
    justify-content: space-between;
}

.content {
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.avatar {
    flex-shrink: 0;
}

.author_name {
    color: #00c08b;
    font-weight: 600;
}

.reply {
    padding: 10px;
    background-color: #006a87;
    border-radius: 5px;
}
